body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

.image {
    width: 200px;
    margin-bottom: 50px;
    border-radius: 50%;
    margin-top: 100px;
}

#Welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    opacity: 0.83;
    background: linear-gradient(#60EBEB 0%, #27AE60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.line {
    height: 6px;
    width: 60px;
    background-color: black;
    margin: 8px auto;
}

.div1 {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: sans-serif;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Limelight', cursive;
    font-weight: 300;
}

#bio {
    padding: 50px;
    font-size: 40px;
}

p {
    max-width: 500px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3;
}

.menubar {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.li {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: monospace;
    font-size: 17px;
}

.li:hover {
    background-color: coral;
}
